<h1>Posts</h1>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, post %></h2>
  <p><%= post.content %></p>
<p>
  <%= link_to "Edit", edit_post_path(post) %>
  <%= link_to "Delete", post, :data => {:confirm => 'Are you sure?'}, :method => :delete %>
</p>
  <hr />
<% end %>

<p><%= link_to "Submit a new Post", new_post_path %></p>
