<!DOCTYPE html>
<html>
<head>
  <title>Fgamingcommunity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
  <p><%= value %></p>
  <% end %>

<%= yield %>

</body>
</html>
